@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes navbarSlide {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(6px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-navbarSlide {
  animation: navbarSlide 0.8s ease-out;
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}
